---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="hero" class="relative w-full min-h-125 h-[min(85vh,800px)] overflow-hidden flex items-center justify-center bg-gray-900 group flex-col">
    <div class="flex-1"></div>
    <div class="absolute inset-0 w-full h-full overflow-hidden">
        <video 
            autoplay 
            muted 
            loop 
            playsinline 
            poster="/poster-finca.webp"
            class="absolute inset-0 w-full h-full object-cover transition-transform duration-1000  will-change-transform"
            aria-label="Video de la finca del evento"
        >
            <source src="/video-finca-3.mp4" type="video/mp4" />
        </video>
        <div class="absolute inset-0 bg-black/30 dark:bg-black/50 bg-linear-to-t from-black/40 via-transparent to-black/10"></div>
    </div>
    
    <div class="relative z-10 text-center px-4 max-w-4xl mx-auto text-white flex flex-col items-center gap-6 animate-fade-in-up">
        <div class="uppercase tracking-[0.2em] text-sm font-body font-light text-white/90 mb-2">{t('hero.subtitle')}</div>
        <h1 class="text-6xl md:text-7xl lg:text-8xl font-display font-normal tracking-tight leading-tight">
            Marina <span class="text-primary-light font-display mx-2">{t('hero.title_connector')}</span> Oswald
        </h1>
        <p class="text-xl md:text-2xl font-body font-medium text-primary-light mt-2 tracking-wide drop-shadow-lg">
            {t('hero.slogan')}
        </p>
    </div>
    <div class="flex-1">
        <a 
            href="https://www.google.com/maps/place/Finca+Condado+de+Cubillana/@40.1532901,-4.1928795,17z/data=!3m1!4b1!4m6!3m5!1s0xd41c67fc51eff7f:0x11f0564aff136bfe!8m2!3d40.1532901!4d-4.1928795!16s%2Fg%2F11c1nh_w30?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer"
            class="cursor-pointer absolute inset-x-0 w-max m-auto bottom-20 mt-8 flex items-center gap-2 text-white/80 bg-white/10 backdrop-blur-sm px-6 py-3 rounded-full border border-white/20 transition-all hover:bg-white/20 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
            aria-label={`Abrir ubicación de ${t('hero.location')} en Google Maps`}
        >
            <span class="material-symbols-outlined text-sm">location_on</span>
            <span class="text-sm font-body font-light tracking-wide">{t('hero.location')}</span>
        </a>
    </div>
    <div class="absolute bottom-8 left-1/2 -translate-x-1/2 animate-bounce text-white/50">
        <span class="material-symbols-outlined">keyboard_arrow_down</span>
    </div>
</section>
