---
import Layout from "../layouts/Layout.astro";
import Countdown from "./Countdown.astro";
import FAQ from "./FAQ.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import Hero from "./Hero.astro";
import IntroGate from "./IntroGate.astro";
import Progress from "./Progress.astro";
import VideoSection from "./VideoSection.astro";

interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props;
---

<Layout>
  <IntroGate />
  <Header />
  <main class="flex flex-col min-h-screen w-full pt-16">
    <Hero />
    <VideoSection />
    <Countdown />
    <Progress />
    <FAQ />
    <Footer />
  </main>
</Layout>
