---
import Countdown from "../../components/Countdown.astro";
import FAQ from "../../components/FAQ.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import ParallaxSection from "../../components/ParallaxSection.astro";
import { languages } from "../../i18n/ui";
import Layout from "../../layouts/Layout.astro";

const { lang } = Astro.params;

if (!lang || !Object.keys(languages).includes(lang)) {
  return Astro.redirect("/es/");
}
---

<Layout>
  <Header />
  <main class="flex flex-col min-h-screen w-full pt-16">
    <Hero />
    <Countdown />
    <ParallaxSection />
    <FAQ />
    <Footer />
  </main>
</Layout>
